In [58]:
# TASK1

import numpy as n

al=n.arange(1,31)

hr=al[:3]
it=al[4:18]
fi=al[19:23]
sa=al[24:30]

print('Employee IDs :')
print('TOTAL :',al)
print('\nHR :',hr)
print('IT :',it)
print('FINANCE :',fi)
print('SALES :',sa)

'''
NUMPY has been imported.
A variable 'al' has been assignned the values ranging from 1 to 30 in the form or 1D array
using arange() and array().
Using slicing those values have been segregated or grouped into 4 different values and have been
printed.

array() : Stores the value in the form 1D array.
arange() : Stores the given range of values in the form 1D array where
           Start value is inclusive and End value is exclusive.
'''
print('\n'*2)

# TASK2
hrsal=n.array([50,60,57])
itsal=n.full(15,67)
fisal=n.array([60,65,50,70,87])
sasal=n.array([50,60,65,90,56,65,71])

print('Salary (in thousands) :')
print('HR :',hrsal)
print('IT :',itsal)
print('FINANCE :',fisal)
print('SALES :',sasal)

'''
Given values have been assigned to 4 different variables in the form 1D array using
array() and full() and have been printed.

array() : Stores the value in the form 1D array.
full() : Assigns the same given value for n number of  elements. 
'''
print('\n'*2)

# TASK3

hrav=n.mean(hrsal)
itav=n.mean(itsal)
fiav=n.mean(fisal)
saav=n.mean(sasal)

print('Average Salary (in thousands) :')
print("HR :",n.round(hrav,2))
print("IT :",itav)
print("FINANCE :",fiav)
print("SALES :",n.round(saav,2))

L=n.array([hrav,itav,fiav,saav])
print('\nDepartment with Highest Average Salary (in thousands) is IT with',n.max(L))

'''
The mean of the values created in task2 has been found for each department seperately using
mean().
These values have stored in a variable 'L' in the form of 1D array using array().
Then the maximum of the four values has been found out using max().

array() : Stores the value in the form 1D array.
mean() : Can be used after imported NUMPY to find the average of the given values.
'''
print('\n'*2)

# TASK4

print("Highest Salary (in thousands) :")
print("HR :",max(hrsal))
print("FINANCE :",max(fisal))

'''
We have found out the maximum salary of the HR and FINANCE departments individually
using max().
'''
print('\n'*2)

# TASK5

print('Updated Salary (in thousands) for IT employees :\n',itsal*1.05)

'''
We have updated the original salaries of the employees working in the IT department by
incrementing 5% of their individual gross salary to their original salaries.
'''

Employee IDs :
TOTAL : [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30]

HR : [1 2 3]
IT : [ 5  6  7  8  9 10 11 12 13 14 15 16 17 18]
FINANCE : [20 21 22 23]
SALES : [25 26 27 28 29 30]



Salary (in thousands) :
HR : [50 60 57]
IT : [67 67 67 67 67 67 67 67 67 67 67 67 67 67 67]
FINANCE : [60 65 50 70 87]
SALES : [50 60 65 90 56 65 71]



Average Salary (in thousands) :
HR : 55.67
IT : 67.0
FINANCE : 66.4
SALES : 65.29

Department with Highest Average Salary (in thousands) is IT with 67.0



Highest Salary (in thousands) :
HR : 60
FINANCE : 87



Updated Salary (in thousands) for IT employees :
 [70.35 70.35 70.35 70.35 70.35 70.35 70.35 70.35 70.35 70.35 70.35 70.35
 70.35 70.35 70.35]

'\nWe have updated the original salaries of the employees working in the IT department by\nincrementing 5% of their individual gross salary to their original salaries.\n'