In [17]:
a = int(input("Enter Number : "))

s=1

for i in range(1,a+1):
    s*=i

print(s)

Enter Number : 3
6

In [23]:
a=int(input("Enter Number : "))

c=0

for i in range(1,a+1):
    if a%i==0:
        c+=1
        
if c==2:
    print("PRIME NUMBER")
else:
    print("NOT A PRIME NUMEBR")

Enter Number : 51
NOT A PRIME NUMEBR

In [31]:
a = int(input("Enter 5-digit Number : "))

b=str(a)

s=0

for i in range(len(b)):
    s+=int(b[i])
    
print('SUM of the 5-DIGIT Number :',s)

Enter 5-digit Number : 52345
SUM of the 5-DIGIT Number : 19

In [7]:
# TASK5

t1=(1,2,3)
t2=(4,5,6)

print('BEFORE :')
print('ID of t1 :',id(t1))
print('ID of t2 :',id(t2))

t1=t1+t2

print('\nAFTER :')
print('ID of t1 :',id(t1))
print('ID of t2 :',id(t2))


'''
We have created two tuples namely t1 and t2 and have assigned some values
to it.
Then we have printed the memory address of both of the tuples using
id() and print().

Then we have concatenated the tuples t1 and t2 and assigned it to a 
variable t1.
Then again we have printed the memory address of both of the tuples using
id() and print().

From the output we can conclude that the memory address of the tuple t2
remains the same whereas the memorya address of the tuple t1 has changed
because its value has been updated in the expression t1=t1+t2.
'''

BEFORE :
ID of t1 : 2055683402944
ID of t2 : 2055683399168

AFTER :
ID of t1 : 2055650698016
ID of t2 : 2055683399168

'\nWe have created two tuples namely t1 and t2 and have assigned some values\nto it.\nThen we have printed the memory address of both of the tuples using\nid() and print().\n\nThen we have concatenated the tuples t1 and t2 and assigned it to a \nvariable t1.\nThen again we have printed the memory address of both of the tuples using\nid() and print().\n\nFrom the output we can conclude that the memory address of the tuple t2\nremains the same whereas the memorya address of the tuple t1 has changed\nbecause its value has been updated in the expression t1=t1+t2.\n'

In [10]:
# TASK6

m={10,20,30,40,50}
n=[33,40,55,60,70]

for i in range(len(n)):
    m.add(n[i])
    
print('FINAL SET m :',m)

'''
A set 'm' and a list 'n' has been created and has been assigned 
some values.

Then we have used the for loop, range(), len() and add() to add the elements
of n one-by-one into the set m.

Then we have printed the set 'm' using print().

The set will ignore duplicate values because sets can conatain only
unique or distinct elements.

for loop : Used when the extreme and step values are known.
Membership Operator IN : Used to check the existence of a element in a sequence of datatypes.
add() : Adds the passed value into a set.
range() : (start,stop,step) Used in for loop to iterate through the given range of values.
len() : Returns the length of the sequence in th form of integer.
'''

FINAL SET m : {70, 10, 20, 30, 33, 40, 50, 55, 60}

"\nA set 'm' and a list 'n' has been created and has been assigned \nsome values.\n\nThen we have used the for loop, range() and add() to add the elements\nof n one-by-one into the set m.\n\nThen we have printed the set 'm' using print().\n\nThe set will ignore duplicate values because sets can conatain only\nunique or distinct elements.\n"

In [5]:
# TASK7

Data_Set={'Python':1,'Data':2,'Excel':3,'SQL':4}

for i,j in Data_Set.items():
    if j%2==0:
        print(i,':',j)
        
'''
We have created a dictionary 'Data_Set' and have assigned some values.

Using for loop and items() we have unpacked the dictionary and 
seperated the keys and values and we have printed the keys and values
whose values are even i.e., whose values return a remainder of 0 if divided by 2.

for loop : Used when the extreme and step values are known.
Membership Operator IN : Used to check the existence of a element in a sequence of datatypes.
items(): Returns the key:value pairs of the given dictionary in form of tuples.
'''

Data : 2
SQL : 4