In [71]:
# TASK2

import pandas as py
import numpy as n

rollno=n.arange(1001,1041)

phy=n.random.randint(30,100,40)
mat=n.random.randint(30,100,40)

pphy=py.Series(data=phy,index=rollno)
pmat=py.Series(data=mat,index=rollno)

print('PHYSICS MARKS :')
print(pphy)

print('\n')
print('MATHEMATICS MARKS :')
print(pmat)

'''
The pandas and the numpy libraries have been imported.

Random marks have been assigned using random module and randint().
Two pandas series variable have been created for both Physics and Mathematics seperately
and have been printed using print().
'''

PHYSICS MARKS :
1001    43
1002    38
1003    36
1004    51
1005    58
1006    85
1007    96
1008    60
1009    64
1010    70
1011    89
1012    89
1013    72
1014    76
1015    50
1016    47
1017    31
1018    49
1019    57
1020    42
1021    44
1022    81
1023    87
1024    32
1025    30
1026    69
1027    80
1028    46
1029    47
1030    55
1031    47
1032    56
1033    89
1034    37
1035    62
1036    46
1037    30
1038    51
1039    65
1040    89
dtype: int32


MATHEMATICS MARKS :
1001    36
1002    89
1003    84
1004    51
1005    98
1006    63
1007    37
1008    58
1009    66
1010    44
1011    98
1012    36
1013    34
1014    81
1015    47
1016    38
1017    31
1018    86
1019    89
1020    48
1021    33
1022    86
1023    70
1024    82
1025    48
1026    50
1027    62
1028    95
1029    56
1030    92
1031    98
1032    83
1033    53
1034    45
1035    45
1036    65
1037    53
1038    79
1039    87
1040    42
dtype: int32

'\nThe pandas and the numpy libraries have been imported.\n\nRandom marks have been assigned using random module and randint().\nTwo pandas series variable have been created for both Physics and Mathematics seperately\nand have been printed using print().\n'

In [55]:
# TASK3

print('SUM OF PHYSICS AND MATHEMATICS MARKS:')
sumpm=pphy+pmat
print(sumpm)

'''
The sum of Physics and Mathemetics marks have been printed using print().
'''

SUM OF PHYSICS AND MATHEMATICS MARKS:
1001    126
1002    157
1003    141
1004    146
1005    146
1006    138
1007    138
1008     79
1009    132
1010    116
1011    140
1012    120
1013    159
1014    137
1015    116
1016    134
1017     72
1018    112
1019    124
1020    130
1021    127
1022    143
1023    138
1024    115
1025    168
1026    156
1027    137
1028     95
1029    152
1030    124
1031     99
1032    164
1033    123
1034     74
1035    108
1036    159
1037     89
1038    151
1039    163
1040    129
dtype: int32

'\nThe sum of Physics and Mathemetics marks have been printed using print().\n'

In [56]:
# TASK 4

df=py.DataFrame()
df['STUDENT ID']=rollno
df['MATHEMATICS MARKS']=pphy
df['PHYSICS MARKS']=pmat
df['SUM']=phy+mat

qs=df['STUDENT ID'][df['SUM']>120]
print('TOTAL NUMBER OF STUDENTS WHO HAVE QUALIFIED :')
print(qs.size)
print('\nIDs OF QUALIFIED STUDENTS :')
print(qs)

'''
An empty dataframe has been created to tabulate the given data.
The IDs of qualified students i.e., the students whose sum of Physics and Mathematics marks
are greater than 120 have been displayed using size and print().
'''

TOTAL NUMBER OF STUDENTS WHO HAVE QUALIFIED :
28

IDs OF QUALIFIED STUDENTS :
0     1001
1     1002
2     1003
3     1004
4     1005
5     1006
6     1007
8     1009
10    1011
12    1013
13    1014
15    1016
18    1019
19    1020
20    1021
21    1022
22    1023
24    1025
25    1026
26    1027
28    1029
29    1030
31    1032
32    1033
35    1036
37    1038
38    1039
39    1040
Name: STUDENT ID, dtype: int32

'\nAn empty dataframe has been created to tabulate the given data.\nThe IDs of qualified students i.e., the students whose sum of Physics and Mathematics marks\nare greater than 120 have been displayed using size and print().\n'

In [57]:
# TASK5

df=py.DataFrame()
df['STUDENT ID']=rollno
df['ROUND1 QUALIFIERS']=phy+mat

qs=df[['STUDENT ID','ROUND1 QUALIFIERS']][df['ROUND1 QUALIFIERS']>120]

print(qs)

    STUDENT ID  ROUND1 QUALIFIERS
0         1001                126
1         1002                157
2         1003                141
3         1004                146
4         1005                146
5         1006                138
6         1007                138
8         1009                132
10        1011                140
12        1013                159
13        1014                137
15        1016                134
18        1019                124
19        1020                130
20        1021                127
21        1022                143
22        1023                138
24        1025                168
25        1026                156
26        1027                137
28        1029                152
29        1030                124
31        1032                164
32        1033                123
35        1036                159
37        1038                151
38        1039                163
39        1040                129

In [76]:
# TASK6

df=py.DataFrame()

pphy=py.Series(data=phy)
pmat=py.Series(data=mat)

df['STUDENT ID']=rollno
df['MATHEMATICS MARKS']=pphy
df['PHYSICS MARKS']=pmats
df['ROUND2 QUALIFIERS']=phy+mat

qsr=df[['STUDENT ID','MATHEMATICS MARKS',
        'PHYSICS MARKS','ROUND2 QUALIFIERS']][(df['ROUND2 QUALIFIERS']>120) & 
                                             (df['PHYSICS MARKS']>=50) & 
                                             (df['MATHEMATICS MARKS']>=50)]


qsr.reset_index(drop=True)

    STUDENT ID  MATHEMATICS MARKS  PHYSICS MARKS  ROUND2 QUALIFIERS
0         1005                 58             98                156
1         1006                 85             63                148
2         1009                 64             66                130
3         1011                 89             98                187
4         1014                 76             81                157
5         1019                 57             89                146
6         1022                 81             86                167
7         1023                 87             70                157
8         1027                 80             62                142
9         1030                 55             92                147
10        1032                 56             83                139
11        1033                 89             53                142
12        1038                 51             79                130
13        1039                 65             87                152

In [ ]:
# TASK7
print(qs.size)