In [25]:
# TASK1 1
rollno=12219 # A variable 'rollno' has been assigned the value 12219
print(rollno) # The value assigned to the variable is being printed 
print('ID :',id(rollno)) # id() : Returns the memory address of the value
print('TYPE :',type(rollno)) # type() : Returns the datatype of the value


# TASK1 2
firstname='VARUN'# A variable 'firstname' has been assigned the value 'VARUN'
print(firstname) # The value assigned to the variable is being printed 
print('ID :',id(firstname)) # id() : Returns the memory address of the value
print('TYPE :',type(firstname)) # type() : Returns the datatype of the value


# TASK1 3
lastname='KUMAR'# A variable 'lastname' has been assigned the value 'KUMAR'
print(lastname) # The value assigned to the variable is being printed 
print('ID :',id(lastname)) # id() : Returns the memory address of the value
print('TYPE :',type(lastname)) # type() : Returns the datatype of the value


# TASK1 4
maxmarks=50 # A variable 'maxmarks' has been assigned the value 50
print(maxmarks) # The value assigned to the variable is being printed 
print('ID :',id(maxmarks)) # # id() : Returns the memory address of the value
print('TYPE :',type(maxmarks)) # type() : Returns the datatype of the value

12219
ID : 1475580294224
TYPE : <class 'int'>
VARUN
ID : 1475552064944
TYPE : <class 'str'>
KUMAR
ID : 1475552058032
TYPE : <class 'str'>
50
ID : 1475472590608
TYPE : <class 'int'>

In [20]:
# TASK2 1

var1=2 # A variable 'var1' has been assigned the value 2
print(var1) # Then it has been printed using the print()


'''
It will return no error as the variable satisfies the conditions it must follow.
'''

2

'It will return no error as the variable satisfies the conditions it must follow.'

In [22]:
# TASK2 2

2var=2 # A variable '2var' has been assigned the value 2
print(2var) # and has been printed using the print()

'''
The query will return SYNTAX ERROR as it is illegal to start a variable with a number 
and can start with an underscore(_) or alphabets.
'''

SyntaxError: invalid decimal literal (3664604460.py, line 3)

In [23]:
# TASK2 3

var 1=2 # A variable 'var 1' has been assigned the value 2
print(var 1) # and has been printed using the print()

'''
The query will return SYNTAX ERROR as it is illegal to have space character
in the variable.
'''

SyntaxError: invalid syntax (2368536834.py, line 3)

In [24]:
# TASK2 4

var$2=2 # A variable 'var$2' has been assigned the value 2
print(var$2) # and has been printed using the print()

'''
The query will return SYNTAX ERROR as a variable cannot contain any
special characters other than underscore(_) or integers.
'''

SyntaxError: invalid syntax (2309676197.py, line 3)

In [1]:
# TASK3 1
print(Class=15) # A value 15 is assigned to the variable Class

'''
The query will return TYPE ERROR as Class (keyword) is considered as an 
invalid keyword argumnet for the print()
'''

TypeError: 'Class' is an invalid keyword argument for print()

In [2]:
# TASK3 2
print(class=14) # A value 14 is assigned to the variable class

'''
The query will return SYNTAX ERROR as print() prints only integers, strings
and other variables or dataypes but not any expression where the value is 
being assigned to a variable in the statement itself.
'''

SyntaxError: invalid syntax (3048472203.py, line 2)

In [3]:
# TASK3 3
print(DEF=13) # A value 13 is assigned to the variable DEF 

'''
The query will return TYPE ERROR as DEF (keyword) is considered as an 
invalid keyword argumnet for the print()
'''

TypeError: 'DEF' is an invalid keyword argument for print()

In [4]:
# TASK3 4
print(def=12)

'''
The query will return SYNTAX ERROR as print() prints only integers, strings
and other variables or dataypes but not any expression where the value is 
being assigned to a variable in the statement itself.
'''

SyntaxError: invalid syntax (3127169354.py, line 2)

In [65]:
# TASK3 5
print(a=TRUE)

'''
The query will return NAME ERROR as print() prints only integers, strings
and other variables or dataypes but not any expression where the value is 
being assigned to a variable in the statement itself.

True is a keyword whereas TRUE will not be considered as a keyword as
Python is case - sensitive. 
TRUE will be considered to be undefined only. 
'''

NameError: name 'TRUE' is not defined

In [67]:
# TASK3 6
print(b=false)

'''
The query will return NAME ERROR as print() prints only integers, strings
and other variables or dataypes but not any expression where the value is 
being assigned to a variable in the statement itself.

False is a keyword whereas FALSE will not be considered as a keyword as
Python is case - sensitive. 
FALSE will be considered to be undefined only.
'''

NameError: name 'false' is not defined

In [90]:
# TASK4 1

marks=96.8 # A variable marks is assigned the float value of 96.8   
print(marks) # Value of marks is printed 
print('ID :',id(marks)) # id() : Returns the memory address of the value
print('DATATYPE :',type(marks)) # type() : Returns the datatype of the value

# TASK4 2

marks=96.8 # A variable marks is assigned the float value of 90.876
print(marks) # Value of marks is printed 
print('ID :',id(marks)) # id() : Returns the memory address of the value
print('DATATYPE :' ,type(marks)) # type() : Returns the datatype of the value

# TASK4 3

'''
The difference between the above two queries is that the value of the ID 
i.e., the memory address of the variable 'marks' changes everytime we re-run the program and 
also when we change its value or the variable itself while the datatype remains 
the same as 'FLOAT'.

The memory address will remain the same only if the passed value is the same integer.
'''

96.8
ID : 2782444420112
DATATYPE : <class 'float'>
96.8
ID : 2782476434576
DATATYPE : <class 'float'>

"\nThe difference between the above two queries is that the value of the ID \ni.e., the memory address of the variable 'marks' everytime we re-run the program and also when we \nchange its value or the variable itself.\nwhile the datatype remains the same as 'FLOAT'.\n"

In [69]:
# TASK5 1

marks=90.876 # A variable marks is assigned the float value of 90.876
maxmarks=100 # A variable maxmarks is assigned the float value of 100

div=marks/maxmarks # marks is divided by maxmarks and is assigned to the variable div
percent=div*100 # div is multiplied by 100 in order to represent the value in percentage and 
                     # is assigned to the variable percent
    
print(percent,'%') # The value of the variable percent is being printed

# TASK5 2

firstname = 'VARUN'# A variable 'firstname' has been assigned the value 'VARUN'
lastname = 'KUMAR'# A variable 'lastname' has been assigned the value 'KUMAR'

fullname = firstname + ' ' + lastname # The concatenated string value of firstname and lastname is
                                      # assigned to the variable fullname

print(fullname) # The value of the variable fullname is being printed

# TASK5 3

print(fullname,'scored',percent,'%') # The value of fullname, the string 'scored', the value of 
                                     # percent and the string '%' are printed in the same line

90.876 %
VARUN KUMAR
VARUN KUMAR scored 90.876 %

In [ ]:
# TASK7 1

print(1 + '2') # An expression 1+'2' has been printed using the print()

'''The query will return TYPE ERROR as an integer and a string cannot be concatenated. 
In order to concatenate, both of them must be of the same datatype.'''

In [9]:
# TASK7 2
print('1' + '2') # An expression '1'+'2' has been printed using the print().

'''
The query will return no error as the expression is valid and the both of them 
are of the same datatype STRING.
'''

# TASK7 3
print(1/2) # An expression 1/2 has been printed using the print()

'''
The query will return no error as the expression is valid and the division
is being performed with the same datatype INTEGER.
'''

# TASK7 4
print(1//2) # An expression 1//2 has been printed using the print()


'''
The query will return no error as the expression is valid and the 
floor division is being performed with the same datatype INTEGER.

The floor division operator will eliminate the decimal part of the output
whereas the division operator will not eliminate the decimal part in
the output.
'''

12
0.5
0

In [57]:
# TASK8 1
print(True and True) # AND operator returns True only if all of the conditions are True

# TASK8 2
print(True and False) # AND operator returns False even if one of the condition is False

# TASK8 3
print(False or True) # OR operator returns True even if one of the condition is True

# TASK8 4
print(False or False) # OR operator returns False only if both of the conditions are False

True
False
True
False

In [61]:
# TASK9 1

firstname='VARUN'
fullname='VARUN KUMAR'

print(firstname in fullname) # True as substring 'VARUN' is present in the string 'VARUN KUMAR'
print(fullname in firstname) # False as # True 'VARUN KUMAR' is not present 'VARUN KUMAR'

# TASK9 2

print(firstname is fullname) # False 'VARUN' is not equal to 'VARUN KUMAR'
print(fullname is firstname) # False 'VARUN KUMAR' is not equal to 'VARUN'

True
False
False
False

In [63]:
a,b,c=4,3,2 # The values 4,3 and 2 are assigned to the variables a,b and c respectively

# TASK10 1
d=a**b+c # The **(exponential operator) has more priority than + (sum operator)
         # Thus it calculates a**b first and then adds the result with c
    
print(d) # The value of d is printed

# TASK10 2
e=a**(b+c) # Even though the **(exponential operator) has more priority than + (sum operator),
           # using parentheses will change the preference for the operators and
           # the order of preference for operators will not be followed
        
print(e) # The value of e is printed

# TASK10 3
'''
In the first task, the **(exponential operator) has more priority than + (sum operator).
Thus it calculates a**b first and then adds the result with c.

Whereas in the second task, even though the **(exponential operator) has more priority than 
+ (sum operator), using parentheses will change the preference for the operators as parentheses
has more priority than any other operator.
'''

66
1024

'\n\n'